body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #333;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color:burlywood;
}

.white {
    background-color: #eeeed2;
}

.coin {
    font-size: 35px;
    line-height: 1;
}

.black-coin {
    color: black;
}

.white-coin {
    color: white;
}
